.orderCard {
    margin-bottom: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orderName {
    font-size: 22px;
    margin-bottom: 10px;
}

.orderPhone {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.orderDate {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.orderItems {
    list-style: none;
    padding: 0;
}

.orderItems li {
    font-size: 18px;
    margin-bottom: 5px;
}

.orderTotal {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
