.loadingMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Error Message */
.errorMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}

/* Error Icon */
.errorIcon {
    margin-right: 10px;
}

/* Error Message Text */
.errorText {
    margin-left: 10px;
}

.dropdownContainer {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.dropdownLabel {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Media queries for responsive styles */

@media (max-width: 768px) {
    .dropdownLabel {
        font-size: 14px;
    }

    .dropdown {
        font-size: 14px;
    }
}

.option{
    font-size: 20px;
}